<%- include("../partials/head.ejs", {page: "Error"}) %>
<%- include("../partials/header.ejs") %>
<style>
    span {
        font-weight: 600;
        text-decoration: underline;
    }

    .container {
        width: fit-content;
    }
</style>

<div class="container mx-auto mt-5 d-flex flex-column text-center">    
    <div class="alert alert-danger" role="alert">
        Email <span><%= data %></span> already used. 
    </div>
    <div>
        <a href="javascript:history.back()">Go back</a>
    </div>
</div>

<%- include("../partials/foot.ejs") %> 
<%- include("../partials/footer.ejs") %> 