<%- include("../partials/head.ejs", {page: "Edit Post"}) %>
<%- include("../partials/header.ejs") %>


<div class="new-post container px-4 text-center">
    <div class="row">

        <h2>Edit post</h2>
        <form action="/editPost/<%= post._id %> " method="post">
            <div class="container flex-column justify-content-center align-items-center">
                <div class="mb-3 align-items-center">
                    <label for="favFruit" class="form-label">What is your favourite fruit?</label>
                    <input name="favFruit" type="text" class="form-control" id="favFruit" value="<%= post.favFruit %>" autocomplete="off" required>
                    <span class="error">Error</span>
                </div>
                <div class="mb-3 align-items-center">
                    <label for="breakfast" class="form-label">What do you typically eat for breakfast?</label>
                    <input name="breakfast" type="text" class="form-control" id="breakfast" value="<%= post.breakfast %>" autocomplete="off" required>
                    <span class="error">Error</span>
                </div>
                <div class="mb-3 align-items-center">
                    <label for="hobbies" class="form-label">Do you have any hobbies? If yes, please specify.</label>
                    <input name="hobbies" type="text" class="form-control" id="hobbies" value="<%= post.hobbies %>" autocomplete="off">
                    <span class="error">Error</span>
                </div>
                <button id="submitNewPost" type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>

<%- include("../partials/foot.ejs") %> 
<%- include("../partials/footer.ejs") %> 