<%- include("../partials/head.ejs", {page: "Edit Password"}) %>
<%- include("../partials/header.ejs") %>

<div class="container px-4 text-center edit-user-wrap">
    <div class="row">
        <div class="user-edit">
            <h2>Edit Password</h2>
            <form action="/editPassword/<%= user._id %>" method="post">                
                <div class="inner-container">
                    <div class="mb-3 password-container">
                        <label for="password" class="form-label">New Password *</label>
                        <input name="password" type="password" class="required-input form-control" id="password" required>
                        <i class="fa-solid fa-eye toggle-password"></i>
                    </div>
                    <div class="mb-3 password-container">
                        <label for="passwordConfirm" class="form-label">Confirm New Password *</label>
                        <input name="passwordConfirm" type="password" class="required-input form-control" id="passwordConfirm" required>        
                        <i class="fa-solid fa-eye toggle-passwordconfirm"></i>
                        <span class="error">Your password is not matching.</span>                
                    </div>
                </div>
                <button id="submitBtn" type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</form>

<%- include("../partials/foot.ejs") %> 
<%- include("../partials/footer.ejs") %> 